Repository eokoneyo/wpnd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
  "./**/*.js": "eslint --cache --fix --max-warnings 0",
  "./**/*.{js,json}": "prettier --write"
}

Notes added by 'git notes add'
  2ac766b6ded5a87913921462bc1829e8ae9fd226
Due: none

feat: make resolution of src and dist directory relative to config file directory
  src/cli/commands/destroy/action/runner/destroy-docker-runner.js
  src/cli/commands/destroy/action/runner/destroy-podman-runner.js
  src/cli/commands/shell/action/runner/shell-docker-runner.js
  src/cli/commands/shell/action/runner/shell-podman-runner.js
  src/cli/commands/start/action/runner/start-docker-runner.js
  src/cli/commands/start/action/runner/start-podman-compose-runner.js
  src/cli/global-options/config/index.js
  src/cli/utils/generate-composer-config.js
  src/cli/utils/provision-container-definition.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

docs: update readme with information about src and dist directory resolution
  README.md
Due: none

chore(release): set `package.json` to 0.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  111df2fa6dbf8a216d8334dc82e782a0a3d7f904
Due: none

chore: add github housekeeping files
  .github/dependabot.yml
  .github/pull_request_template.md
Due: none

fix: missed implementation detail with resolving path relative to config file
  src/cli/global-options/config/index.js
  src/cli/global-options/config/index.test.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: use path from parsed config to resolve container definition
  src/cli/commands/start/action/index.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.7.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6d52bcbbe8a11e11a9dfad7a7a1c3ecf7ce53f62
Due: none

feat: fix error with pulling mysql on apple silicon
  src/templates/core/stack.yml
Due: none

fix: resolve issue with using mysql on apple silicon
  module/src/cli/utils/source-runner-env-values.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: resolve issue with mounting project files into container volume
  module/src/templates/core/stack.yml
Due: none

fix: upgrade mysql to version 8.4, also make it an explicit dependency for wordpress container
  module/src/templates/core/stack.yml
Due: none

fix: bump wordpress version to 6.5.3
  module/src/templates/core/Dockerfile
Due: none

docs: improve documentation for config
  module/src/cli/global-options/config/index.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

ci: run package release in it's dedicated directory
  .github/workflows/publish.yml
Due: none

chore: add configuration changes to support directory structure change
  .github/workflows/code-health-check.yml
  .github/workflows/publish.yml
  config-cst.yaml
  module/.npmignore
  module/package.json
  package.json
Due: prettier --write

ci: lockdown semantic release packages
  .github/workflows/publish.yml
Due: none

Notes added by 'git notes add'
  682eb366cab033200cf2c406ef96ba5cb93a52fa
Due: none

chore(release): set `package.json` to 0.7.2 [skip ci]
  module/CHANGELOG.md
Due: none

fix: ignore mocks directory
  module/.npmignore
Due: none

docs: add readme for repo
  README.MD
Due: none

chore(release): set `package.json` to 0.7.3 [skip ci]
  module/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  207a3986cd4e9c48b249165d68afd9ca8f8a5914
Due: none

fix: fix regression with provisioning wp-content through wpackagist
  module/src/templates/core/Dockerfile
  module/src/templates/core/entrypoint-child.sh
Due: none

docs: improve readme
  README.MD
Due: none

chore: change playground config to attempt to always build teh most recent module
  playground/package.json
Due: prettier --write

chore(release): set `package.json` to 0.7.4 [skip ci]
  module/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  64278acca3a9819ca3505954c8a73362c60bd22e
Due: none

feat: add init method to cli to only generate template files
  module/src/cli/cli.js
  module/src/cli/commands/init/init.js
  module/src/cli/commands/init/init.test.js
  playground/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.8.0 [skip ci]
  module/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0205dcf2e7ac86061f619109caf6f7e4d20bc955
Due: none

fix: add accomodation to bundle files from host into built image
  module/src/templates/core/Dockerfile
Due: none

chore(release): set `package.json` to 0.8.1 [skip ci]
  module/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0e3ab55024399fe1a7ee2b7c9c447937828dca99
Due: none

fix: use same character case for defining last stage in dockerfile
  module/src/templates/core/Dockerfile
Due: none

Notes added by 'git notes add'
  8e878d055ce472c01a7dc46b0a6c5696fa552fac
Due: none

chore(release): set `package.json` to 0.8.2 [skip ci]
  module/CHANGELOG.md
Due: none
