Repository eokoneyo/wpnd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.0.7 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a511cc14b8301a21357466a2cfc633ea78f7a9a8
Due: none

fix: fix documentation pertaining to actual cli usage
  src/cli/cli.js
  src/cli/config/config-schema.json
  src/cli/config/index.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

docs: update project readme
  README.md
Due: none

chore(release): set `package.json` to 0.0.8 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6e47db834b97a5316922689ad600a589cede01b4
Due: none

chore: remove unused dependency package.json
  package.json
  yarn.lock
Due: prettier --write

docs: modify docs
  README.md
Due: none

feat: add support to access db shell environment
  src/cli/cli.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  410705d2f874162620a2f9f448c5e385186dc4b7
Due: none

feat: add support so db shell is running mysql terminal
  playground/package.json
  src/cli/cli.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f6b7bf87c869b388f9f9d5f259cb543f6679443c
Due: none

feat: add composer support, also modify cli template files to accomodate composer related config
  src/cli/cli.js
  src/templates/composer.json
  src/templates/core/Dockerfile
  src/templates/core/entrypoint-child.sh
  src/templates/core/stack.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: modify entrypoint script file to accomodate work for composer
  src/templates/core/entrypoint-child.sh
Due: none

fix: improve script to symlink files from wpnd directory into docker wp-content directory
  src/templates/composer.json
  src/templates/core/entrypoint-child.sh
Due: prettier --write

fix: update template composer file with defaults to support custom installer paths
  src/templates/composer.json
Due: prettier --write

chore: add setup for tests
  .github/workflows/code-health-check.yml
  .npmignore
  jest.config.cjs
  package.json
  src/__tests__/setup.cjs
  yarn.lock
Due: prettier --write

chore: add scaffold test for entrypoint child script
  src/__tests__/entrypoint-child.test.cjs
Due: none

chore: add setup to use container-structure-test to validate docker image
  .github/workflows/integration-quality-check.yml
  .github/workflows/publish.yml
  config-cst.yaml
Due: none

chore: read image name from wpnd config file
  .github/workflows/integration-quality-check.yml
Due: none

chore: try out running container verification in one workflow
  .github/workflows/code-health-check.yml
  .github/workflows/integration-quality-check.yml
  .github/workflows/publish.yml
  package.json
Due: prettier --write

chore: add implementation to run service in detached mode
  .github/workflows/code-health-check.yml
  src/__tests__/entrypoint-child.test.cjs
  src/cli/cli.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: comment out unncessary test setup
  src/__tests__/entrypoint-child.test.cjs
Due: none

chore: fix identation
  .github/workflows/code-health-check.yml
Due: none

chore: cleanup setup for jest tests
  .eslintrc
  .npmignore
  jest.config.cjs
  package.json
  src/__tests__/entrypoint-child.test.cjs
  yarn.lock
Due: prettier --write

chore: move cst config file into src folder
  .npmignore
  package.json
  src/config-cst.yaml
Due: prettier --write

chore: restructure tests files
  .npmignore
  __tests__/setup.cjs
  jest.config.cjs
  package.json
Due: prettier --write

chore: cleanup implementation so we are almost version agnostic
  src/config-cst.yaml
  src/templates/core/Dockerfile
  src/templates/core/entrypoint-child.sh
Due: none

feat: add support to pre-install themes and plugins from wordpress.org using wpackagist
  playground/wpnd.config.json
  src/cli/cli.js
  src/cli/config/config-schema.json
  src/cli/utils/generate-composer-config.js
  src/config-cst.yaml
  src/templates/composer.json
  src/templates/core/Dockerfile
Due: eslint --cache --fix --max-warnings 0, prettier --write

docs: update readme
  README.md
Due: none

chore: use package to write composer file
  package.json
  src/cli/cli.js
  src/cli/utils/generate-composer-config.js
  yarn.lock
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(release): set `package.json` to 0.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  eaa86d29708aae98a2c92d58a1efae15b22641b5
Due: none

chore: reorganize project repo
  __tests__/config-cst.yaml
  package.json
  playground/package.json
  src/bin/index.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

feat: rework how config values for program are resolved
  src/cli/cli.js
  src/cli/config/index.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore: modify jest setup to support ES modules for tests
  .github/workflows/code-health-check.yml
  jest.config.cjs
  package.json
  yarn.lock
Due: prettier --write

test: add tests for config resolution
  .npmignore
  src/cli/config/__snapshots__/index.test.js.snap
  src/cli/config/index.test.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore: move test files into src directory
  jest.config.cjs
  package.json
  src/__tests__/config-cst.yaml
  src/__tests__/setup.cjs
Due: prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: ./**/*.js
  prettier --write: any of: ./**/*.{js,json}
